@using RecordRetentionApp.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" style="font-size:large">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.LabelFor(m => m.empl_no)
                <br />
                @Html.TextBoxFor(m => m.empl_no, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.empl_no, "", new { @class = "text-danger" })
                <br />
                @Html.LabelFor(m => m.Password)
                <br />
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <hr />
                <input type="submit" class="btn btn-primary btn-block" value="Log In">
                <hr />
                <div class="text-center">
                    <a href="https://apps.newportbeachca.gov/auth/register">Create Account</a> or <a href="https://apps.newportbeachca.gov/auth/forgot">Reset Password</a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
}